@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:wght@200;300;400;600&display=swap');

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    font-family:inter;
    background-color:#5a5757;
}

#moles__wrapper{
    background-color:rgb(223, 204, 169);
    display:grid;
    grid-template-columns: repeat(4,10vw);
    grid-template-rows: repeat(4,10vw);
    gap:2em;
    padding:5em;
    background-image:url("./images/ground.png");
    background-size:10vw;
    border-radius:5vw;
}

#moles__wrapper div{
    border-radius:100%;
    border:0px solid black;
}

.mole{
    background-image:url("./images/dogPoop.png");
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
}

#score{
    font-size:1.5rem;
    color:white;
    
}